body {
    background-color: lightblue;
    /* color: lightblue; */
    padding: 100px;
}

.header{
    text-align: center;
    padding-left: 50px;

}

.fotoCarlos {
    width: 150px;
    float: right;
    padding: 0px 50px;

}

.quemSou {
    /* float: left; */
    text-align: justify;
    margin: 50px 100px;
    vertical-align: bottom;

}

.nomeCarlos {
    font-family: "Montserrat", sans-serif;
    align-content: center;
}  

.lista {
    font-size: large;
}

.esperiencia {
    clear: both;
    padding: 20px;
}
